# Ignore Visual Studio temporary files and folder config
.vs/

# Ignore all bin directories
bin/
**/bin/

# Ignore all obj directories
obj/
**/obj/


/BackEnd/Infrastructure/Persistence/CoursesDbContext.cs
