@page
@model EduCore.Frontend.Web.Pages.Auth.LogoutModel
@{
    Layout = "../Shared/Layouts/Student/_Layout.cshtml";

}
@* @if (!string.IsNullOrEmpty(Model.LogoutError))
{
    <div class="alert alert-danger">@Model.LogoutError</div>
} *@